body {
    margin: 0;
    background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnPg0KICAgIDxyZWN0IHdpZHRoPScxMDAwJScgaGVpZ2h0PScxMDAwJScgZmlsbD0nI2Y4Y2EwMCcgdHJhbnNmb3JtPSdyb3RhdGUoMTApJy8+DQoJPHJlY3Qgd2lkdGg9JzEwMDAlJyBoZWlnaHQ9JzEwMDAlJyBmaWxsPScjNzA3ZjBlJyB4PSctMTAlJyB0cmFuc2Zvcm09J3JvdGF0ZSgtNDApJy8+DQoJPHJlY3Qgd2lkdGg9JzEwMDAlJyBoZWlnaHQ9JzEwMDAlJyBmaWxsPScjNzA3ZjBlJyB5PSItNDAlIiB4PSIyMDAlIiB0cmFuc2Zvcm09J3JvdGF0ZSg1MCknLz4NCjwvc3ZnPg==');
}

.container {
    margin: 50px auto 0;
    width: 100%;
    max-width: 900px;
    position: relative;
    top: 0;
    font-family: Amble;
}

/*
    Credit bar
*/
.credit-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #39579a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.credit-bar-names {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.credit-bar-name {
    color: #fff;
    font-family: Amble;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 11px;
    flex: 1 1 auto;
    text-align: center;
}

.credit-bar-icon {
    margin: 0 6px 0 0;
}

/*
    Usefull classes
*/
.visually-hidden {
    display: none;
}

/*
    Icons
*/
.icon-facebook {
    background: url("../img/facebook.png");
    width: 40px;
    height: 40px;
    display: block;
    /*margin: 0 5px 0 0;*/
}